.left-margin {
    margin-left: 30px !important;
}
.right-margin {
    margin-right: 30px !important;
}
#refresh-movie {
    background-color: rgb(177, 169, 169);
}
#save-movie {
    background-color:gainsboro !important;
}
#save-game {
background-color:gainsboro !important;

}
#refresh-game {
background-color:rgb(177, 169, 169) ;
}
#results {
    background-color:rgb(163, 169, 173);
    font-size: 40px;
    text-align: center;
}
body{
    box-sizing: border-box;
    width:auto ;
    height: auto;
    background-color: black;
    
}

#matchMe{
    
    border-radius: 12px;
    background-color: lightgray;
    
}


