body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
html {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.left-margin {
  margin-left: 30px !important;
}

.right-margin {
  margin-right: 30px !important;
}

#refresh-movie {
  background-color: rgb(177, 169, 169) !important;
}

#refresh-movie:hover {
  background-color: rgb(129, 126, 126) !important;
}

#save-movie {
  background-color: rgb(177, 169, 169) !important;
}

#save-movie:hover {
  background-color: rgb(129, 126, 126) !important;
}

#save-game {
  background-color: rgb(177, 169, 169) !important;
}

#save-game:hover {
  background-color: rgb(129, 126, 126) !important;
}

#refresh-game {
  background-color: rgb(177, 169, 169) !important ;
}

#refresh-game:hover {
  background-color: rgb(129, 126, 126) !important;
}

#results {
  background-color: rgb(163, 169, 173);
  font-size: 40px;
  text-align: center;
}

#matchMe {
  border-radius: 12px;
  background-color: #d5e9f791 !important;
  color: #171e22;
  border: 3px solid black;
}
#gameFlix {
  color: #b900f7;
  font-weight: bold;
  /* font-family: 'Krona One', sans-serif;  */
  /* font-family: 'Anton', sans-serif;  */
  font-family: "Permanent Marker", cursive;
  /* font-family: 'Russo One', sans-serif; */
  /* font-family: 'ZCOOL QingKe HuangYou', cursive;  */
}

#displayQs {
  background-image: url(../img/film.7.jpg);
  padding: 20px;
  color: white;
}

#displayQs button {
  background-color: #6886b3ad !important;
  border: 1px solid black;
}

#playWatch {
  background-image: url("../img/bg.2.png");
  /* background-color: #490377; */
}
#test{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 5px;
}

#game-matches-list {
  margin-bottom: 20px;

  color: white;
}

#movie-matches-list {
  margin-bottom: 20px;

  color: white;
}

div h3 {
  color: white !important;
  font-weight: bolder !important;
  font-size: x-large !important;
}

div button {
  background-color: grey !important;
  font-weight: bolder;
  font-size: x-large;
}

p,
pre,
ul {
  margin: 30px 0 20px 0;
}
